# Churn Modelling using Artificial Neural Networks

Importing Tensorflow and Keras

In [1]:
import tensorflow

In [2]:
import keras

Using TensorFlow backend.

In [3]:
import os

In [4]:
os.chdir('D:\Data Scientist\A-Z Python-R Udemy\Artificial-Neural-Networks')

In [5]:
os.getcwd()

'D:\\Data Scientist\\A-Z Python-R Udemy\\Artificial-Neural-Networks'

Importing Libraries

In [6]:
import pandas as pd

In [7]:
import matplotlib.pyplot as plt

In [8]:
%matplotlib inline

Importing Dataset

In [9]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [10]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

Splitting the dataset into Features and Target variables

In [12]:
X = dataset[['CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary']]

In [13]:
y = dataset['Exited']

In [14]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [15]:
#from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [16]:
#labelencoder_Geography = LabelEncoder()

In [17]:
#X['Geography'] = labelencoder_Geography.fit_transform(X['Geography'])

In [18]:
#X.head()

In [19]:
#labelencoder_Gender = LabelEncoder()

In [20]:
#X['Gender'] = labelencoder_Gender.fit_transform(X['Gender'])

In [21]:
#X.head()

In [22]:
#onehotencoder  = OneHotEncoder(categorical_features=X['Geography'])

In [23]:
#X = onehotencoder.fit_transform(X).toarray()

In [24]:
#X

Converting the categorial variables into dummies

In [25]:
geography = pd.get_dummies(dataset['Geography'],drop_first=True)

In [26]:
geography.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [27]:
gender = pd.get_dummies(dataset['Gender'],drop_first=True)

In [28]:
gender.head()

   Male
0     0
1     0
2     0
3     0
4     0

Merging the Geography and Gender to X

In [29]:
X = pd.concat([X,geography,gender],axis=1)

In [30]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [31]:
X = X.drop(['Geography','Gender'],axis=1)

In [32]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

Splitting the data into Train and Test data

In [33]:
# Spliting the dataset into training and test set
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

Feature Scaling

In [36]:
from sklearn.preprocessing import StandardScaler

In [37]:
sc = StandardScaler()

In [38]:
X_train = sc.fit_transform(X_train)

In [39]:
X_test = sc.transform(X_test)

# Applying ANN

In [40]:
import keras

Importing Sequential module for ANN initialization

In [41]:
from keras.models import Sequential

Importing Dense module to create layers in ANN

In [42]:
from keras.layers import Dense

Initializing the neural network

In [43]:
classifier = Sequential()

Adding the first hidden layer with 6 nodes and using rectifier activation

In [44]:
classifier.add(Dense(units=6,kernel_initializer='uniform',activation = 'relu',input_dim =11))

Adding second hidden layer

In [45]:
classifier.add(Dense(units=6,kernel_initializer='uniform',activation = 'relu'))

Adding output layer and using Sigmoid function activation

In [46]:
classifier.add(Dense(units=1,kernel_initializer='uniform',activation = 'sigmoid'))

Compiling the network and using crossentropy as loss function and Stochastic Gradient Descent as optimizer

In [47]:
classifier.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Hitesh\Anaconda3\envs\tensorflow\lib\site-packages\keras\backend\tensorflow_backend.py:1340: calling reduce_mean (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead

Fitting the model with batch size=10 and training it for 100 epochs

In [49]:
classifier.fit(X_train,y_train,batch_size=10,epochs=100)

Epoch 1/100
8000/8000 [==============================] - 4s 501us/step - loss: 0.4112 - acc: 0.8320
Epoch 2/100
8000/8000 [==============================] - 3s 392us/step - loss: 0.4097 - acc: 0.8322
Epoch 3/100
8000/8000 [==============================] - 3s 405us/step - loss: 0.4088 - acc: 0.8336 0s - loss: 0.4085 - acc: 0
Epoch 4/100
8000/8000 [==============================] - 3s 411us/step - loss: 0.4078 - acc: 0.8345
Epoch 5/100
8000/8000 [==============================] - 2s 308us/step - loss: 0.4073 - acc: 0.8345
Epoch 6/100
8000/8000 [==============================] - 3s 320us/step - loss: 0.4067 - acc: 0.8357
Epoch 7/100
8000/8000 [==============================] - 3s 352us/step - loss: 0.4060 - acc: 0.8345
Epoch 8/100
8000/8000 [==============================] - 2s 293us/step - loss: 0.4059 - acc: 0.8349
Epoch 9/100
8000/8000 [==============================] - 2s 300us/step - loss: 0.4056 - acc: 0.8352
Epoch 10/100
8000/8000 [==============================] - 3s 313us/step - loss: 0.4053 - acc: 0.8355
Epoch 11/100
8000/8000 [==============================] - 3s 315us/step - loss: 0.4047 - acc: 0.8359
Epoch 12/100
8000/8000 [==============================] - 2s 290us/step - loss: 0.4047 - acc: 0.8351
Epoch 13/100
8000/8000 [==============================] - 2s 273us/step - loss: 0.4037 - acc: 0.8345
Epoch 14/100
8000/8000 [==============================] - 3s 332us/step - loss: 0.4042 - acc: 0.8352
Epoch 15/100
8000/8000 [==============================] - 2s 249us/step - loss: 0.4033 - acc: 0.8339
Epoch 16/100
8000/8000 [==============================] - 2s 223us/step - loss: 0.4040 - acc: 0.8356
Epoch 17/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.4033 - acc: 0.8346
Epoch 18/100
8000/8000 [==============================] - 2s 227us/step - loss: 0.4032 - acc: 0.8337
Epoch 19/100
8000/8000 [==============================] - 2s 248us/step - loss: 0.4028 - acc: 0.8347
Epoch 20/100
8000/8000 [==============================] - 2s 247us/step - loss: 0.4028 - acc: 0.8334
Epoch 21/100
8000/8000 [==============================] - 3s 322us/step - loss: 0.4028 - acc: 0.8347
Epoch 22/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.4028 - acc: 0.8336
Epoch 23/100
8000/8000 [==============================] - 2s 241us/step - loss: 0.4026 - acc: 0.8344 1s - loss:
Epoch 24/100
8000/8000 [==============================] - 2s 237us/step - loss: 0.4020 - acc: 0.8340
Epoch 25/100
8000/8000 [==============================] - 2s 296us/step - loss: 0.4025 - acc: 0.8360
Epoch 26/100
8000/8000 [==============================] - 2s 310us/step - loss: 0.4020 - acc: 0.8352
Epoch 27/100
8000/8000 [==============================] - 1s 174us/step - loss: 0.4024 - acc: 0.8334
Epoch 28/100
8000/8000 [==============================] - 1s 170us/step - loss: 0.4020 - acc: 0.8361
Epoch 29/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.4022 - acc: 0.8344
Epoch 30/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.4015 - acc: 0.8341
Epoch 31/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.4015 - acc: 0.8347
Epoch 32/100
8000/8000 [==============================] - 1s 174us/step - loss: 0.4014 - acc: 0.8342
Epoch 33/100
8000/8000 [==============================] - 1s 174us/step - loss: 0.4020 - acc: 0.8341
Epoch 34/100
8000/8000 [==============================] - 1s 176us/step - loss: 0.4014 - acc: 0.8352
Epoch 35/100
8000/8000 [==============================] - 1s 174us/step - loss: 0.4015 - acc: 0.8359
Epoch 36/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.4014 - acc: 0.8360
Epoch 37/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.4016 - acc: 0.8339
Epoch 38/100
8000/8000 [==============================] - 1s 173us/step - loss: 0.4013 - acc: 0.8347
Epoch 39/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.4013 - acc: 0.8357
Epoch 40/100
8000/8000 [==============================] - 1s 173us/step - loss: 0.4016 - acc: 0.8332
Epoch 41/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.4011 - acc: 0.8346
Epoch 42/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4014 - acc: 0.8337
Epoch 43/100
8000/8000 [==============================] - 1s 173us/step - loss: 0.4011 - acc: 0.8340
Epoch 44/100
8000/8000 [==============================] - 1s 171us/step - loss: 0.4012 - acc: 0.8365 0s - loss: 0.4001 - acc:
Epoch 45/100
8000/8000 [==============================] - 1s 170us/step - loss: 0.4014 - acc: 0.8366
Epoch 46/100
8000/8000 [==============================] - 2s 211us/step - loss: 0.4011 - acc: 0.8349
Epoch 47/100
8000/8000 [==============================] - 1s 179us/step - loss: 0.4007 - acc: 0.8331
Epoch 48/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.4012 - acc: 0.8351
Epoch 49/100
8000/8000 [==============================] - 1s 170us/step - loss: 0.4015 - acc: 0.8344
Epoch 50/100
8000/8000 [==============================] - 1s 170us/step - loss: 0.4010 - acc: 0.8346
Epoch 51/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.4010 - acc: 0.8345
Epoch 52/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.4011 - acc: 0.8351
Epoch 53/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4011 - acc: 0.8340
Epoch 54/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.4012 - acc: 0.8347
Epoch 55/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.4005 - acc: 0.8347
Epoch 56/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.4005 - acc: 0.8364
Epoch 57/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.4013 - acc: 0.8334
Epoch 58/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.4010 - acc: 0.8344
Epoch 59/100
8000/8000 [==============================] - 1s 158us/step - loss: 0.4008 - acc: 0.8346
Epoch 60/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.4008 - acc: 0.8346
Epoch 61/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.4008 - acc: 0.8335
Epoch 62/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.4008 - acc: 0.8346
Epoch 63/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4008 - acc: 0.8356
Epoch 64/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4007 - acc: 0.8359
Epoch 65/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4004 - acc: 0.8342
Epoch 66/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.4006 - acc: 0.8367
Epoch 67/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.4005 - acc: 0.8347
Epoch 68/100
8000/8000 [==============================] - 2s 188us/step - loss: 0.4009 - acc: 0.8334
Epoch 69/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.4006 - acc: 0.8350
Epoch 70/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.4006 - acc: 0.8346
Epoch 71/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.4004 - acc: 0.8341 0s - loss: 0.3963 -
Epoch 72/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.4000 - acc: 0.8347
Epoch 73/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.4007 - acc: 0.8340
Epoch 74/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.4001 - acc: 0.8350
Epoch 75/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.4000 - acc: 0.8349 1s - loss
Epoch 76/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.4000 - acc: 0.8347
Epoch 77/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4002 - acc: 0.8341
Epoch 78/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3998 - acc: 0.8355
Epoch 79/100
8000/8000 [==============================] - 1s 178us/step - loss: 0.3995 - acc: 0.8369
Epoch 80/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.4000 - acc: 0.8356
Epoch 81/100

8000/8000 [==============================] - 1s 161us/step - loss: 0.3998 - acc: 0.8357
Epoch 82/100
8000/8000 [==============================] - 5s 608us/step - loss: 0.3996 - acc: 0.8347
Epoch 83/100
8000/8000 [==============================] - 5s 650us/step - loss: 0.3998 - acc: 0.8340
Epoch 84/100
8000/8000 [==============================] - 3s 416us/step - loss: 0.3991 - acc: 0.8359 2s
Epoch 85/100
8000/8000 [==============================] - 3s 325us/step - loss: 0.3997 - acc: 0.8341
Epoch 86/100
8000/8000 [==============================] - 3s 319us/step - loss: 0.3994 - acc: 0.8356
Epoch 87/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3993 - acc: 0.8369
Epoch 88/100
8000/8000 [==============================] - 2s 266us/step - loss: 0.3995 - acc: 0.8352
Epoch 89/100
8000/8000 [==============================] - 2s 281us/step - loss: 0.3996 - acc: 0.8365
Epoch 90/100
8000/8000 [==============================] - 2s 232us/step - loss: 0.3991 - acc: 0.8354
Epoch 91/100
8000/8000 [==============================] - 2s 239us/step - loss: 0.3990 - acc: 0.8350
Epoch 92/100
8000/8000 [==============================] - 2s 253us/step - loss: 0.3990 - acc: 0.8381
Epoch 93/100
8000/8000 [==============================] - 2s 263us/step - loss: 0.3988 - acc: 0.8372
Epoch 94/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3985 - acc: 0.8369
Epoch 95/100
8000/8000 [==============================] - 2s 263us/step - loss: 0.3988 - acc: 0.8367
Epoch 96/100
8000/8000 [==============================] - 2s 263us/step - loss: 0.3987 - acc: 0.8352
Epoch 97/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.3988 - acc: 0.8371
Epoch 98/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3986 - acc: 0.8359
Epoch 99/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.3986 - acc: 0.8381
Epoch 100/100
8000/8000 [==============================] - 2s 256us/step - loss: 0.3985 - acc: 0.8360

In [50]:
y_pred = classifier.predict(X_test)

In [51]:
y_pred

array([[ 0.22687085],
       [ 0.36646557],
       [ 0.20880088],
       ...,
       [ 0.19926938],
       [ 0.15221295],
       [ 0.13339126]], dtype=float32)

In [52]:
y_pred = (y_pred>0.5)

In [53]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]], dtype=bool)

In [54]:
from sklearn.metrics import classification_report, confusion_matrix

In [55]:
print(confusion_matrix(y_test,y_pred))
print('\n')
print(classification_report(y_test,y_pred))

[[1532   63]
 [ 252  153]]


             precision    recall  f1-score   support

          0       0.86      0.96      0.91      1595
          1       0.71      0.38      0.49       405

avg / total       0.83      0.84      0.82      2000

In [75]:
accuracy = (1525+167)/2000

In [76]:
accuracy

0.846

# XGBoost Classification

In [59]:
from xgboost import XGBClassifier

C:\Users\Hitesh\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [60]:
classifier = XGBClassifier()

In [61]:
classifier.fit(X_train,y_train)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [62]:
y_pred = classifier.predict(X_test)

In [63]:
from sklearn.metrics import classification_report, confusion_matrix

In [64]:
print(confusion_matrix(y_test,y_pred))
print('\n')
print(classification_report(y_test,y_pred))

[[1521   74]
 [ 197  208]]


             precision    recall  f1-score   support

          0       0.89      0.95      0.92      1595
          1       0.74      0.51      0.61       405

avg / total       0.86      0.86      0.85      2000

In [65]:
from sklearn.model_selection import cross_val_score

In [66]:
accuracies = cross_val_score(estimator = classifier, X = X_train, y= y_train, cv = 10)

In [67]:
accuracies.mean()

0.86299944511632043

In [68]:
accuracies.std()

0.010677872171663988